/* You can add global styles to this file, and also import other style files */

@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300;400;500;600;700;800;900&display=swap');
@import 'bootstrap-icons/font/bootstrap-icons.min.css';

.submit-btn:disabled {
  opacity: 0.5;
}

.required {
  color: red;
}

body {
  font-family: 'Alan Sans', sans-serif;
  font-weight: 300;
}

h1 {
  font-weight: 400;
}

/* for every button if it's not a special button (edit, delete) */
.btnCustom:hover {
  background-color: #0b5ed7;
  color: white;
  transform: scale(1.05); /* enlarge */
}

.btnCustom:active {
  background-color: #0b5ed7;
  color: white;
  transform: scale(0.98); /*  shrink */
}
