/* You can add global styles to this file, and also import other style files */

@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300;400;500;600;700;800;900&display=swap');
@import 'bootstrap-icons/font/bootstrap-icons.min.css';

.submit-btn:disabled {
  opacity: 0.5;
}

.required {
  color: red;
}

body {
  font-family: 'Alan Sans', sans-serif;
  font-weight: 300;
}

h1 {
  font-weight: 400;
}
