.btn {
  outline: auto;
}

/* EDIT button */
.btnEdit {
  color: orange;
}

.btnEdit:hover {
  background-color: #0b5ed7;
  color: white;
  transform: scale(1.05); /* enlarge */
}

.btnEdit:active {
  background-color: #0a58ca;
  transform: scale(0.98); /*  shrink */
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btnEdit:focus {
  outline: solid #0a58ca;
}

/* DELETE button */
.btnDelete {
  color: red;
}

.btnDelete:hover {
  background-color: red;
  color: white;
  transform: scale(1.05); /* enlarge */
}

.btnDelete:active {
  background-color: red;
  transform: scale(0.98); /* shrink */
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btnDelete:focus {
  outline: solid red;
}
