<div class="container mt-4">
  <h2 class="d-flex justify-content-center">Trip List</h2>

  <ul
    *ngIf="trips.length; else noTrips"
    class="mt-4 d-flex flex-column justify-content-center align-items-center"
  >
    <li *ngFor="let trip of trips" class="w-100 d-flex justify-content-center">
      <div class="card w-75 w-md-50 my-2">
        <div class="row g-0">
          <!-- card body (left column) -->
          <div class="col-md-9 card-body">
            <h4 class="card-title">{{ trip.tripName }}</h4>
            <h6 class="card-subtitle my-2 text-body-secondary">{{ trip.destination }}</h6>
            <p>
              <i class="bi bi-calendar-range"></i>
              {{ trip.arrivalDate | date : 'dd.MM.yyyy' }} -
              {{ trip.departureDate | date : 'dd.MM.yyyy' }}
            </p>
            <a [routerLink]="['/trips', trip._id]" class="btn btn-warning btnCustom my-2"
              >View details</a
            >
          </div>

          <!-- buttons column (right column) -->
          <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
            <button class="btn btnEdit mb-2" [routerLink]="['/trips', trip._id, 'edit']">
              <i class="bi bi-pencil-square"></i>
            </button>
            <button class="btn btnDelete" (click)="onDelete(trip._id)">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <!-- if there are no planned trips -->
  <ng-template #noTrips>
    <h5>No trips planned.</h5>
  </ng-template>
</div>
